html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #be4a44;
}
.gallary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.image {
    width: 90%;
}
.object {
    text-align: center;
    width: 33em;
    margin-bottom: 2.7%;
    background: #feddd8;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 5px #8b3631ac;
    transition: ease 150ms;
}
.header {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgb(246, 115, 104);
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
.object-text {
    font-size: 20px;
    padding: 2%;
}
.object-title {
    padding: 2%;
    font-weight: bolder;
}

.object:hover {
    box-shadow: 0 10px 25px #d7d9d0;
    transition-duration: 250ms;
    transform: rotate(1.5deg) scale(1.1);   
}

#title {
    font-size: 45px;
}
#subtitle {
    font-size: 32px;    
}

@media screen and (max-width: 1200px){
    .gallary {
        flex-direction: column;
        justify-content: center;
    }
    .object {
        width: 85%;
        margin: auto;
        margin-bottom: 4%;
    }
    .object:hover {
        transition-duration: 250ms;
        transform: rotate(1.5deg) scale(1.1);
    }
}
@media screen and (max-width: 600px){
    .gallary {
        flex-direction: column;
        justify-content: center;
    }
    .object {
        width: 85%;
        margin: auto;
        margin-bottom: 4%;
    }
    .object:hover {
        transition-duration: 250ms;
        transform: rotate(1deg) scale(1.1);
    }
}