html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #be4a44;
}
.gallary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image {
    width: 90%;
}
.object {
    text-align: center;
    width: 27em;
    margin: 1.5%;
    background: #feddd8;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 5px #8b3631;
}
.header {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background: rgb(246, 115, 104);
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
.object-text {
    font-size: 20px;
    padding: 2%;
}
.object-title {
    padding: 2%;
    font-weight: bolder;
}

.object:hover {
    transform: scale(1.2);
    transition-duration: 250ms;
}

#title {
    font-size: 45px;
}
#subtitle {
    font-size: 32px;
}